@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Raleway:wght@400;500;700&family=Roboto+Condensed&display=swap");

$background-color: #ffffff;
$main-color: #2f2d52;
$secondary-color: #8c52ff;
$neutralColor: #ad84ff;
$text-color: #000000;

$title-font: "Raleway", sans-serif; //400 500 700
$main-font: "Poppins", sans-serif; //400 600
$helper-font: "Roboto Condensed", sans-serif; //400
