@use "../styles/variables" as v;
@use "../styles/mixins" as m;
.homePage {
  .hero {
    display: grid;
    grid-template: 1fr /1fr 1fr;
    padding: 1.25rem;
    box-shadow: 0 10px v.$primary-color, 0px 14px v.$neutral-color;
    border-radius: 1rem;
    .heroInfo {
      font-family: v.$primary-font;
      font-weight: 400;
      padding: 3rem;
      display: flex;
      flex-direction: column;
      animation: slideInLeft 1s ease-out forwards;

      h1 {
        font-family: v.$title-font;
        text-transform: capitalize;
        font-size: 2.8rem;
      }
      p {
        margin-top: 1rem;
        font-size: 1.1rem;
      }
      //for highlighting
      span {
        color: v.$secondary-color;
        font-weight: 900;
      }
      .heroActionsHolder {
        display: flex;
        gap: 1rem;
        margin: auto 0;
        a {
          margin-top: 0.5rem;
          text-decoration: none;
          color: inherit;
          background-color: v.$secondary-color;
          color: white;
          padding: 0.9rem 2rem;
          border-radius: 0.5rem;
          display: flex;
          align-items: center;
          transition: all 0.2s linear;
          font-size: 1.1rem;
          box-shadow: 4px 8px black;
          &:hover {
            transform: scale(1.05);
          }
          &:nth-child(2) {
            background: none;
            border: 2px solid v.$primary-color;
            color: v.$text-color;
          }
        }
      }
    }
    .heroImage {
      width: auto;
      max-height: min(36rem, 60vh);
      margin: auto;
      animation: slideInRight 1s ease-out forwards;
    }
  }
  .featuredCourses {
    margin-top: 2rem;
    h1 {
      @include m.title;
    }
    .coursesHolder {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      padding: 2rem 2.5rem;
      gap: 1.25rem;
      justify-content: center;
      .course {
        font-family: v.$primary-font;
        min-height: 500px;
        min-width: 350px;
        flex: 1;
        box-shadow: 0px 8px v.$primary-color, 0 12px v.$secondary-color;
        border-radius: 1rem;
        border: 3px solid v.$primary-color;
        border-bottom: none;
        overflow: hidden;
        transition: all 0.3s linear;
        display: flex;
        flex-direction: column;
        &:hover {
          cursor: pointer;
          transform: scale(1.02) translateY(-10px);
        }
        .imageHolder {
          position: relative;
          .courseImage {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50%;
            padding: 1rem;
            border-radius: 2rem;
          }
          span {
            position: absolute;
            bottom: 2rem;
            right: 2rem;
            color: green;
            border-radius: 0.75rem;
            padding: 0.25rem;
            background-color: white;
          }
        }
        .courseInfo {
          padding: 1rem;
          .courseTitle {
            font-family: v.$title-font;
            grid-column: 1/3;
            margin-bottom: 1rem;
            font-size: 1.4rem;
          }
          .subInfoHolder {
            width: 100%;
            display: flex;
            justify-content: space-between;
            h4 {
              //for highlighting
              color: rgba($color: #000000, $alpha: 0.8);
              span {
                color: v.$secondary-color;
              }
            }
          }
        }
        .courseDescription {
          padding: 1rem;
          border-bottom: 1px solid v.$primary-color;
        }
        .courseActions {
          display: flex;
          width: 100%;
          padding: 1rem;
          button {
            background-color: goldenrod;
            color: white;
            outline: none;
            border: none;
            border-radius: 1rem;
            font-family: inherit;
            padding: 0.5rem;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

// Keyframes for sliding in
@keyframes slideInLeft {
  0% {
    transform: translateX(-30%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(30%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
